@import url(https://cdn.jsdelivr.net/npm/misans/lib/misans-300-light.min.css);
@import url(https://cdn.jsdelivr.net/npm/@fontsource/heebo@5.0.3/300.min.css);

@mixin head-square($size) {
    display: grid;
    align-content: center;
    justify-content: center;
    width: $size;
    height: $size;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #a7a7a7;
}

* {
    font-family: MiSans, Heebo, serif;
    transition-timing-function: cubic-bezier(0.42, -0.01, 0.69, 1.25);
    user-select: none;
}

body {
    margin: 0;
    overflow: hidden;
}

a {
    color: #3dc8e9;
    text-decoration: none;
}

$float: "right";

div#head {
    margin: 0;
    padding: 20px;
    top: 0;
    #{$float}: 0;
    width: 55px;
    height: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: rgb(255 255 255 / 50%);
    backdrop-filter: blur(30px);

    a {
        margin: 20%;
        border-radius: 50%;
        @include head-square(50px);

        div {
            transition-duration: 150ms;
            border: {
                radius: 50%;
                width: 3px;
                style: solid;
            }
        }

        > div {
            $s: 50px;
            border-color: #667f90;
            @include head-square($s);

            > div {
                border-color: #adbcc7;
                @include head-square($s * (1/73 * 61.3));

                > img {
                    margin: auto;
                    width: 70%;
                }
            }
        }

        > div#select > div {
            border-color: #197bbc;
        }

        > div,
        > div#select {
            &:hover > div {
                border-color: #adbcc7;
                background-color: #d6dce1;
            }
            &:active > div {
                border-color: #197bbc;
                background-color: #197bbc;
            }
        }
    }
}

div#headMargin {
    width: calc(100% - 95px);
    height: 100%;
    margin-#{$float}: 95px;
}
